html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    max-width: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Bitter', serif;
}

.logo{
  box-shadow: 8.5px 0px;
  color: rgb(117, 173, 117);
  background: rgb(240, 253, 240);
  border: 5px solid rgb(75, 80, 80);
  border-radius: 45.5% 12%;
  object-position: 0px 2.8px;
  padding: 5px;
 width: 25%;
}

.logo2{
  box-shadow: 8.5px 0px;
  color: rgb(117, 173, 117);
  background: rgb(240, 253, 240);
  border: 5px solid rgb(75, 80, 80);
  border-radius: 45.5% 12%;
  object-position: 0px 2.8px;
  padding: 5px;
  width: 8%;
}
.navigation {
        background: black;
        padding: 0px 20px;;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        max-width: 100%;
}

.navigation nav a {
        padding: 60px;
        color: rgb(226, 117, 226);
        font-size: 2.2rem;
        
}
.navigation nav a:hover{
  color: white;
  text-decoration: none;
}

.navigation2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0% 0%;
  padding: 10px;
  background: rgb(26, 150, 150);
}

#missionnav{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#missionnav a{
  color: white;
}

#missionnav a:hover{
  color: teal;
  background: white;
  border-radius: 8px;
}

.bigtitle{
  color: white;
  font-size: 3.8rem;
  background: url("https://media3.giphy.com/media/3oEhmP1i8wzdgx2vrW/source.gif");
  background-size: 30000px 1000px;
  background-position: center;
  border-radius: 100%;
  border: 1.8px solid rgb(117, 117, 235);
  padding: 25px;
  text-align: center;
}
.bigtitle:hover{
  background-size: 2px 999999999px;
    background-position: center;
    box-shadow: 10px -5px;
    filter: drop-shadow(-10px 5px);
}
.bigtitle2{
  background-size: 2px 999999999px;
  background-position: center;
  color: white;
  font-size: 3.8rem;
  box-shadow: 10px -5px;
  
  border-radius: 100%;
  padding: 25px
    
}

.bigtitle2:hover{
  font-size: 3rem;
  padding: 40px;
}
body{
    background: url("https://images.unsplash.com/photo-1531686071181-3fa95c9950a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1958&q=80");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    font-size: 20px; 
  }

  .reachOut {
      float: left;
      width: 39%;
      padding: 10%;
      padding-top: 5%;
      font-size: 2.4rem;
      color: rgb(48, 5, 5);
  }
  .reachOut h1, p{
    background: teal;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
  }

  .reachOut h1{
    font-size: 2.5rem;
    text-align: center;
    background: rgb(247, 84, 111);
    width: 30%;
    font-weight: bold;
    color: white;
  }
  
  .logo {
    margin-bottom: 10%;
  }
  
  .form {
      float: right;
      width: 30%;
      text-align: center;
      padding: 5%;
  }

  .required{
    color: rgb(73, 2, 2);
  }

  #name{
    border: 1.4px solid rgba(3, 131, 3, 0.7);
    border-radius: 4px;
    box-shadow: 2px 1px;
  }

  #message{
    border: 1.4px solid rgba(3, 131, 3, 0.7);
    border-radius: 4px;
    box-shadow: 2px 1px;
  }

  #email{
    border: 1.4px solid rgba(3, 131, 3, 0.7);
    border-radius: 4px;
    box-shadow: 2px 1px;
  }

  #phoneNumber{
    border: 1.4px solid rgba(3, 131, 3, 0.7);
    border-radius: 4px;
    box-shadow: 2px 1px;
  }

  #submit_button {
      background-color: rgba(112,255,112,0.7);
      border: 1px solid rgb(111, 245, 111);
      border-radius: 12px;
      padding: 8px;
      font-size: 1.6rem;
      font-weight: bold;
      outline: none;
  }

  #submit_button:hover{
    background: gold;
    color: white;
    border: 3px solid gold;
    cursor: pointer;
  }

  .fa{
    margin: 8px;
    padding: 10px;
    font-size: 3.6rem;
    text-decoration: none;
  }

  .fa:hover{
    color: rgb(238, 151, 166);
    background: rgb(51, 172, 172);
    border-radius: 100%;
    padding: 10px;
  }

  /* Mission CSS*/

  .mainImage {
      max-width: 100%;
  }

  img{
    border-radius: 12px;
  }

  .missionBody {
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    margin: 30px;
  }
  
  .missionBody h1 {
    font-size:300%;
    text-align: center;
    height:200px;
  }

  .middleNav {
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 12px;
    padding: 5px;
    width: 60%;
    font-weight: bold;
  }

  .middleNav a{
      text-decoration: none;
  }
  .middleNav a:hover{
    background: rgb(11, 175, 11);
    border-radius: 10px;
    padding: 15px;
  }
  .row1 {
    display: flex;
    align-items: center;

  }
  
  .row1 p {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(248, 218, 218);
     border-radius: 10px;
     padding: 15px;
     box-shadow: 3px 2px;
    
  }
  
  .row2 {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  
  .row2 p {
    width: 30%;
    margin:0 20% 5% 20%;
    background: rgb(223, 223, 245);
     border-radius: 10px;
     padding: 15px;
     box-shadow: 3px 2px;
  }

  .missionBody img {
      width: 90%;
  }

  .pcWoman img{
     size: center;
     margin-left: 50%;
     
  }

  .camMan img{
      margin-bottom: 10%;
      padding-right: 20%;
  }

  .mainFooter {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
   #home {
    position: fixed;
    Width: 100%;
    bottom: 0;
   }

  @media (max-width: 1620px){
    .logo{
      width: 45%;
    }
  }

  @media (max-width: 1200px){
    .logo{
      width: 50%;
    }
    .form {
      display: flex;
      flex-direction: column;
      text-align: center;
     }

     .form div {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }

   .body {
     max-width: 100%; 
     width: 100%;
   }

   .navigation {
       display: flex;
       flex-wrap: wrap;
   }

   .mainImage {
       display: flex;
       text-align: center;
       flex-direction: column;
   }

   .missionBody {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .pcWoman img {
     margin: 0;
   }
   .pcWoman {
       margin: auto;
       display: flex;
       justify-content: center;
   }

   .camMan img {
       padding: 0;
   }

   .camMan {
       display: flex;
       justify-content: center;
   }

   .row1 {
       display: flex;
       flex-direction: column;
   }

   .row1 p{
     width: 75%;
     margin: 25px;
     font-size: 2.5rem;
   }

   .row2 {
       display: flex;
       flex-direction: column;
   }
   .row2 p{
     width: 75%;
     margin: 25px;
     font-size: 2.5rem;
   }
   .reachOut h1, p{
     font-size: 2rem;
     width: 60%;
 }

 @media (max-width: 1000px){
   .middleNav{
     width: 100%;
   }
 }

 @media (max-width: 800px){
   .logo{
     width: 80%;
   }
   .reachOut h1, p{
     width: 90%;
   }
   .middleNav{
     font-size: 2rem;
   }
 }

 @media (max-width: 750px) {
   .navigation nav a{
       padding: 17px;
   }
   .middleNav{
     font-size: 1.5rem;
   }
 }

 @media (max-width: 650px) {
   .row2{
     flex-direction: column-reverse;
   }
 }
  

  @media screen and (max-width: 500px) {
    .bigtitle{
        font-size: 2.4rem;
    }
    .navigation nav a{
        font-size: 1.8rem;
        padding: 5px;
    }
    .pcWoman img {
        margin: 0;
    }
    .row1 p{
      font-size: 2.2rem;
    }
    .row2 p{
      font-size: 2.2rem;
    }
  }