* {box-sizing: border-box; outline:none; font-size:62.5%; }


body{
  background: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: center;
  margin: 0%;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin: 20px 95px 200px;
}

.maintext{
  border: 27px solid rgb(244, 255, 244);
  border-radius: 8%;
  background: rgb(248, 255, 248);
  color: rgb(190, 121, 121);
  box-shadow: 70px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 25px;
}

h1{
  font-size: 5rem;
  color: maroon;
  font-family: garamond;
}
.logo{
    box-shadow: 8.5px 0px;
    color: rgb(117, 173, 117);
    background: rgb(240, 253, 240);
    width: 30%;
    border: 5px solid rgb(75, 80, 80);
    border-radius: 45.5% 12%;
    object-position: 0px 2.8px;
    padding: 5px;
}
h2{
  font-size: 2.3rem;
  color: black;
  font-family: garamond
}

button{
  background: rgb(1, 145, 145); 
  color: black;
  font-size: 1.9rem;
  font-family: garamond;
  font-weight: bold;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 3px 2px;
}

button:hover{
  cursor: pointer;
  color: white;
  background: gold;
}

img{
  width: 40%;
  border-radius: 4%;
  box-shadow: 40px 22px;
}

footer{
  display: flex;
  font-size: 7rem;
  padding: 20% 0px 10px;
}


nav a{
  padding: 15px 115px;
  color: rgb(196, 106, 106);
  font-size: 2.7rem;
  margin: 20px;
  outline: none;
}

nav a:hover{
    color: rgb(1, 15, 15);
    background: rgb(248, 219, 219);
    border: 4px solid rgb(253, 220, 225);
    border-radius: 50%;
    font-size: 3.5rem;
    text-decoration: none;
    font-family: garamond;
    font-weight: bold;
} 

@media (max-width: 1700px){
    body{
        background-size: 100% 122%;
    }
    header{
        margin: 50px 0px 500px 0px;
    }
    footer{
        padding: 10px 0px 2%;
    }
    nav a{
        margin: 85px;
        padding: 0px;
    }
}

@media (max-width: 1450px){
    footer{
        padding: 10% 0px 2%;
    }
    nav a{
        padding: 15px 40px;
        color: rgb(196, 106, 106);
    }
}

@media (max-width: 1530px){
    .maintext{
        width: 40%;
        text-align: center;
    }
    body{
        background-size: 100% 120%;
    }
    nav a{
        padding: 15px 50px;
        margin: 30px;
    }
    
}

@media (max-width: 1360px){
    footer{
        padding: 5px 0px;
        margin: 0%;
    }
    nav a{
        margin: 16px;
    }
}
@media (max-width: 1230px){
    body{
        background-size: 100% 120%;
    }
    .maintext{
        box-shadow: 30px 40px;
    }
    footer{
        padding: 3px 0px 2%;
    }
    nav a{
        padding: 15px 37px;
        margin: 18px;
    }
    img{
        width: 50%;
    }
}

@media (max-width: 1120px){
    body{
        background-size: 100% 120%;
    }
    .maintext{
        background: none;
        border: none;
        box-shadow: 7px 3px;
    }
    footer{
        padding: 2px 0px 2%;
    }
    nav a{
        margin: 5px;
    }
}

@media (max-width: 1000px){
    body{
        background-size: 100% 1000%;
    }
    header{
        flex-direction: column-reverse;
        margin: 35px;
    }
    img{
        width: 90%;
    }
    .maintext{
        box-shadow: 0px 0px;
        width: 80%;
        background: none;
        border: 0px;
    }
    footer{
        padding: 22% 0px 2%;
        justify-content: center;
        background: teal;
    }
    nav a{
        padding: 15px 40px;
        color: black;
    }
    button{
        background: rgb(2, 156, 156);
        width: 18%;
    }
}

@media (max-width: 805px){
    nav a{
        padding: 0px;
        margin: 30px;
    }
}

@media (max-width: 720px){
    footer{
        padding: 40% 0px 2%;
    }
}

@media (max-width: 600px){
    
    h2{
        text-align: center;
    }
    footer{
        padding: 58% 0px 2%;
    }
    nav a{
        padding: 0px;
        margin: 5px;
        font-size: 2.3rem;
    }
    button{
        width: 40%;
    }
}

@media (max-width: 500px) {
    footer{
        padding: 65% 0px 2%;
        
    }
    nav a{
        padding: 15px 15px;
    }
}

@media (max-width: 466px){
    footer{
        padding: 80% 0px 2%;
    }
    nav a{
        padding: 15px 3.7px;
    }
}

@media (max-width: 416px){
    h1{
        font-size: 4.1rem;
    }
    footer{
        padding: 95% 0px 2%;
    }
    nav a{
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
}

@media (max-width: 390px){
    h1{
        font-size: 3.8rem;
    }
    footer{
        padding: 99% 0px 2%;
    }
}

@media (max-width: 350px){
    footer{
        padding: 150% 0px 2%;
    }
    nav a{
        font-size: 1.5rem;
        padding: 15px 2px;
    }
}